// 不手动用rem单位是为了后期维护时可以得知原先设计稿上的px值
@function px2rem($px) {
  $rem: 37.5px; //视觉稿基于iphone6
  @return ($px/$rem) + rem;
}
//清除浮动
.clearfix::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.scale-1px {
  position: relative;
  border: none;
}
//通过缩放来解决移动端1px问题
.scale-1px::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  //基于初始位置进行缩放
  -webkit-transform-origin: 0, 0;
  transform-origin: 0, 0;
}
